<table>
    <thead>
        <tr>
            <th colspan="2">
              <%= @cat.name %>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              <p>Age:</p>
              <p>Color:</p>
              <p>Sex:</p>
              <p>Description:</p>
            </td>
            <td>
              <p><%= @cat.age %></p>
              <p><%= @cat.color %></p>
              <p><%= @cat.sex %></p>
              <p><%= @cat.description %></p>
            </td>
        </tr>
    </tbody>
</table>