<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--
  <%# if logged_in? %>
    <form action="<%= sessions_url %>" name="" method="destroy">
      <input type="submit" value="Log Out">
    </form>
  <%# else %>
    <form action="<%= sessions_url %>" name="" method="post">
      <input>
      <label>Email:</label>
      <input>
      <label>Password:</label>
      <input type="submit" value="Log In">
    </form>
  <%# end %>
-->

  <body>
    <%= yield %>
  </body>
</html>
